section.about.section(id="about")
  .wrapper
    .about__container
      .about__info
        .about__title
          .subtitle
            .subtitle__icon
              +icon(name="about").svg.svg--static
            h3.subtitle__text Обо мне
        .about__description
          .text-description
            | Ответственный, креативный верстальщик.
            | Нахожусь на заре своей карьеры, но уже могу похвастаться определенным набором знании.
            | Кайфую от того что я делаю. У меня нет большого опыта, но есть горящие глаза и горы потенциала.
            | Курс своего профессионального роста держу на frontend-разработчика.
            | В свободное время изучаю Javascript и всё что с ним связано.
        .about__table
          include ../components/Table
