section.left-side
  .left-side__bg
    .left-side__inner
      .left-side__container
        .profile
          .profile__foto
            img(src='images/profile-foto.png' alt="photo" width="314px" height="323px").profile-foto
          .profile__info
            .profile__info-name Мийзамов Шерали
            .profile__info-specialization
              span.profile__text-blue html / css developer
          .social
            ul.social__list
              li.social__item
                a.social__link(href="https://www.instagram.com/01romero07/?hl=ru" rel="noopener" target="_blank" aria-label="social-link")
                  +icon(name="instagram").svg
              li.social__item
                a.social__link(href="https://discord.com/users/Romero#0690" rel="noopener" target="_blank" aria-label="social-link")
                  +icon(name="discord").svg
              li.social__item
                a.social__link(href="https://github.com/Ali-Romero" rel="noopener" target="_blank" aria-label="social-link")
                  +icon(name="github").svg
              li.social__item
                a.social__link(href="https://t.me/romero0107" rel="noopener" target="_blank" aria-label="social-link")
                  +icon(name="telegram").svg
          .quote
            .quote__description
              | “ Единственный способ делать
              br
              | великие дела - любить то,
              br
              | что вы делаете ”
              br
            .quote__copyright &#169 Steve Jobs
          .download
            .download__btn
              a( href="resume.pdf" download)
                button.btn Скачать резюме
                  +icon(name="download").svg.svg--interactive.ml-10
