.main.section(id="main")
  .wrapper
    .main__conteiner
      .main__info
        .main__info-title Привет !
        .main__info-subtitle Меня зовут Шерали
        .main__info-description И я web-разработчик
        .main__info-btn
          a( href="Portfolio.zip" download)
            button.btn Моё портфолио
              +icon(name="portfolio").svg.svg--interactive.ml-10
      .main__foto
        img(src='images/profile-foto.png' alt="photo" width="335px" height="335px").profile-foto
