nav.menu
  ul.menu__list
    li.menu__item
      a(href="#main" aria-label="menu-link").menu__link.active-link.menu-top Главная
    li.menu__item
      a(href="#about" aria-label="menu-link").menu__link Обо мне
    li.menu__item
      a(href="#skills" aria-label="menu-link").menu__link Навыки
    li.menu__item
      a(href="#portfolio" aria-label="menu-link").menu__link Портфолио
    li.menu__item
      a(href="#projects" aria-label="menu-link").menu__link Пет-проекты
    li.menu__item
      a(href="#contacts" aria-label="menu-link").menu__link Контакты
