.remodal(data-remodal-id='modal-1' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
  img(src='images/maestra.png' alt='img' width="1902" heght="938").img-modal
  .modal-close(data-remodal-action="close")
    button.btn-modal
      +icon(name="close-modal").icon-modal
.remodal(data-remodal-id='modal-2' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
  img(src='images/digi.png' alt='img' width="1902" heght="938").img-modal
  .modal-close(data-remodal-action="close")
    button.btn-modal
      +icon(name="close-modal").icon-modal
.remodal(data-remodal-id='modal-3' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
  img(src='images/john.png' alt='img' width="1902" heght="938").img-modal
  .modal-close(data-remodal-action="close")
    button.btn-modal
      +icon(name="close-modal").icon-modal
.remodal(data-remodal-id='modal-4' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
  img(src='images/magport.png' alt='img' width="1902" heght="938").img-modal
  .modal-close(data-remodal-action="close")
    button.btn-modal
      +icon(name="close-modal").icon-modal
.remodal(data-remodal-id='modal-5' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
  img(src='images/magcat.png' alt='img' width="1902" heght="938").img-modal
  .modal-close(data-remodal-action="close")
    button.btn-modal
      +icon(name="close-modal").icon-modal
.remodal(data-remodal-id='modal-6' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
  img(src='images/vscode.png' alt='img' width="1902" heght="938").img-modal
  .modal-close(data-remodal-action="close")
    button.btn-modal
      +icon(name="close-modal").icon-modal
