section.portfolio.section(id="portfolio")
  .wrapper
    .portfolio__container
      .portfolio__info
        .portfolio__title
          .subtitle
            .subtitle__icon
              +icon(name="portfolio").svg.svg--static
            h3.subtitle__text Портфолио
        .portfolio__description
          .text-description
            | Здесь вы можете посмотреть моё портфолио. 
            |Тут моих работ не много, но в будущем, я думаю,
            | этот "портфельчик" обязательно пополниться визуально красивыми и интересными работами !
        .portfolio__slider
          include ../components/Slider
