.progress
  .progress__layout
    .progress__subtitle
      h3.progress__subtitle-text Профессиональные навыки
    .progress__conteiner
      ul.progress__list-left.w-100.pad-lg-20
        li.progress__item
          .progress__item-icon
            +icon(name="html").svg
          .progress__item-line
            .line-filling.w-90
              .line-filling__text 90%
              +icon(name="arrow-down").arrow-icon
        li.progress__item
          .progress__item-icon
            +icon(name="css").svg
          .progress__item-line
            .line-filling.w-90
              .line-filling__text 90%
              +icon(name="arrow-down").arrow-icon
        li.progress__item
          .progress__item-icon
            +icon(name="js").svg
          .progress__item-line
            .line-filling.w-45
              .line-filling__text 45%
              +icon(name="arrow-down").arrow-icon
      ul.progress__list-right.w-100.pad-lg-20
        li.progress__item
          .progress__item-icon
            +icon(name="jquery").svg
          .progress__item-line
            .line-filling.w-55
              .line-filling__text 55%
              +icon(name="arrow-down").arrow-icon
        li.progress__item
          .progress__item-icon
            +icon(name="figma").svg
            +icon(name="photoshop").svg
          .progress__item-line
            .line-filling.w-35
              .line-filling__text 35%
              +icon(name="arrow-down").arrow-icon
        li.progress__item
          .progress__item-icon
            +icon(name="git").svg
          .progress__item-line
            .line-filling.w-65
              .line-filling__text 65%
              +icon(name="arrow-down").arrow-icon
