section.projects.section(id="projects")
  .wrapper
    .projects__container
      .projects__info
        .projects__title
          .subtitle
            .subtitle__icon
              +icon(name="projects").svg.svg--static
            h3.subtitle__text Пет-проекты
        .projects__description
          .text-description
            | В этом блоке размещены ссылки на мои пет-проекты. 
            | Перейдя по этим ссылка можете в живую на них посмотреть, "пощупать" их изнутри.
            | Так же на GitHabe есть репозитории с этими работами, где в каждом из них имеются исходники. 
            |Там же можете глянуть на мой код-стайл, если будет интересно.
        include ../components/Works
