section.right-side
  .right-side__inner
    .right-side__header
      .right-side__header-logo
        .logo
          .logo__img
            +icon(name="logo").logo-img
      include ../components/Menu
      include ../components/SideBar
    .right-side__content
      include ../components/Main
      include ../components/AboutMe
      include ../components/Skills
      include ../components/Portfolio
      include ../components/Projects
      include ../components/Contacts
      include ../components/FooterContent
