aside.sidebar.close
  .sidebar__layout.stop-anim
    .sidebar__inner
      .sidebar__border-active
        .sidebar__border-arrow
          span.arrow.active-sidebar
          span.arrow.active-sidebar
          span.arrow.active-sidebar
      ul.sidebar__list
        li.sidebar__item
          a(href="#main" aria-label="side-link").sidebar__link.active-link.menu-top
            +icon(name="home").svg.svg--small
        li.sidebar__item
          a(href="#about" aria-label="side-link").sidebar__link
            +icon(name="about").svg.svg--small
        li.sidebar__item
          a(href="#skills" aria-label="side-link").sidebar__link
            +icon(name="skills").svg.svg--small
        li.sidebar__item
          a(href="#portfolio" aria-label="side-link").sidebar__link
            +icon(name="portfolio").svg.svg--small
        li.sidebar__item
          a(href="#projects" aria-label="side-link").sidebar__link
            +icon(name="projects").svg.svg--small
        li.sidebar__item
          a(href="#contacts" aria-label="side-link").sidebar__link
            +icon(name="contacts").svg.svg--small
