.slider
  .slider__inner
    .slider__layout
      .slider__box
        ul.slider__list.js-slider
          li.slider__item
            .remodal-portfolio(data-remodal-target="modal-1")
              img(data-lazy='images/maestra.png' alt='img' width="1902" heght="938").slider__item-img
          li.slider__item
            .remodal-portfolio(data-remodal-target="modal-2")
              img(data-lazy='images/digi.png' alt='img' width="1902" heght="938").slider__item-img
          li.slider__item
            .remodal-portfolio(data-remodal-target="modal-3")
              img(data-lazy='images/john.png' alt='img' width="1902" heght="938").slider__item-img
          li.slider__item
            .remodal-portfolio(data-remodal-target="modal-4")
              img(data-lazy='images/magport.png' alt='img' width="1902" heght="938").slider__item-img
          li.slider__item
            .remodal-portfolio(data-remodal-target="modal-5")
              img(data-lazy='images/magcat.png' alt='img' width="1902" heght="938").slider__item-img
          li.slider__item
            .remodal-portfolio(data-remodal-target="modal-6")
              img(data-lazy='images/vscode.png' alt='img' width="1902" heght="938").slider__item-img
        .slider__controll
          .slider__arrow-left.border-r
            +icon(name="arrow-left").btn__icon
          .slider__dots
          .slider__arrow-right.border-l
            +icon(name="arrow-right").btn__icon
  include ../components/Modal
