table.table
  tbody.table__body
    tr.pad-all-20.h-30.view
    tr.pad-all-20.h-30.view
      td.w-35.pad-left-20 Имя
      td.w-10 :
      td.w-55 Шерали
    tr.pad-all-20.h-30.view
      td.w-35.pad-left-20 Фамилия
      td.w-10 :
      td.w-55 Мийзамов
    tr.pad-all-20.h-30.view
      td.w-35.pad-left-20 Отчество
      td.w-10 :
      td.w-55 Шермаматович
    tr.pad-all-20.h-30.view
      td.w-35.pad-left-20 Адресс
      td.w-10 :
      td.w-55 Кыргызстан г. Бишкек
    tr.pad-all-20.h-30.view
      td.w-35.pad-left-20 Телефон
      td.w-10 :
      td.w-55 +996705470447
    tr.pad-all-20.h-30.view
      td.w-35.pad-left-20 Email
      td.w-10 :
      td.w-55 sherali920825@yandex.com
    tr.pad-all-20.h-30
      td.w-35.pad-left-20 website
      td.w-10 :
      td.w-55 https://github.com/Ali-Romero
