.works
  .works__inner
    .works__layout
      .works__box
        .works__box-border
        ul.works__list
          li.works__item
            .works__dropdown.js-dropdown
              .works__dropdown-icon
                +icon(name="portfolio").svg.svg--small
              .works__dropdown-title Работа № 1
              .works__dropdown-icon-arrow
                +icon(name="arrow-bot").svg.svg--mini
            .dropdown
              ul.dropdown__list
                li.dropdown__item
                  a(href="https://github.com/Ali-Romero/Maestra" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span GitHab-repo
                li.dropdown__item
                  a(href="https://ali-romero.github.io/Maestra/" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span Cайт-demo
          li.works__item
            .works__dropdown.js-dropdown
              .works__dropdown-icon
                +icon(name="portfolio").svg.svg--small
              .works__dropdown-title Работа № 2
              .works__dropdown-icon-arrow
                +icon(name="arrow-bot").svg.svg--mini
            .dropdown
              ul.dropdown__list
                li.dropdown__item
                  a(href="https://github.com/Ali-Romero/Di-Gi" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span GitHab-repo
                li.dropdown__item
                  a(href="https://ali-romero.github.io/Di-Gi/" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span Cайт-demo
          li.works__item
            .works__dropdown.js-dropdown
              .works__dropdown-icon
                +icon(name="portfolio").svg.svg--small
              .works__dropdown-title Работа № 3
              .works__dropdown-icon-arrow
                +icon(name="arrow-bot").svg.svg--mini
            .dropdown
              ul.dropdown__list
                li.dropdown__item
                  a(href="https://github.com/Ali-Romero/John" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span GitHab-repo
                li.dropdown__item
                  a(href="https://ali-romero.github.io/John/" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span Cайт-demo
          li.works__item
            .works__dropdown.js-dropdown
              .works__dropdown-icon
                +icon(name="portfolio").svg.svg--small
              .works__dropdown-title Работа № 4
              .works__dropdown-icon-arrow
                +icon(name="arrow-bot").svg.svg--mini
            .dropdown
              ul.dropdown__list
                li.dropdown__item
                  a(href="https://github.com/Ali-Romero/TestPort" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span GitHab-repo
                li.dropdown__item
                  a(href="https://ali-romero.github.io/TestPort/" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span Cайт-demo
          li.works__item
            .works__dropdown.js-dropdown
              .works__dropdown-icon
                +icon(name="portfolio").svg.svg--small
              .works__dropdown-title Работа № 5
              .works__dropdown-icon-arrow
                +icon(name="arrow-bot").svg.svg--mini
            .dropdown
              ul.dropdown__list
                li.dropdown__item
                  a(href="https://github.com/Ali-Romero/TestMag" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span GitHab-repo
                li.dropdown__item
                  a(href="https://ali-romero.github.io/TestMag/" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span Cайт-demo
          li.works__item
            .works__dropdown.js-dropdown
              .works__dropdown-icon
                +icon(name="portfolio").svg.svg--small
              .works__dropdown-title Работа № 6
              .works__dropdown-icon-arrow
                +icon(name="arrow-bot").svg.svg--mini
            .dropdown
              ul.dropdown__list
                li.dropdown__item
                  a(href="https://github.com/Ali-Romero/Vscode" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span GitHab-repo
                li.dropdown__item
                  a(href="https://ali-romero.github.io/Vscode/" rel="noopener" target="_blank").dropdown__link Ссылка на: 
                    span.dropdown__link-span Cайт-demo
        .works__box-border
