.btn
  width: 100%
  padding: 15px
  position: relative
  display: flex
  font-weight: 800
  font-size: 15px
  line-height: 20px
  border-radius: 10px
  justify-content: space-around
  font-family: "Futura"
  background-color: $color-blue
  color: $color-black
  top: 0
  box-shadow:
    0 1px rgba(255,255,255,.2) inset,
    0 3px 5px rgba(0,1,6,.5),
    0 0 1px 1px rgba(0,1,6,.2)
  z-index: 2
  transition: all 0.2s

  +above($breakpoints.sm)
    font-size: 19px
    line-height: 30px
    padding: 20px

  +above($breakpoints.lg)
    cursor: pointer

  &:hover
    background-color: $color-blue-light

  &:active
    top: 2px
    box-shadow:
      0 0 1px rgba(0,0,0,.5) inset,
      0 2px 3px rgba(0,0,0,.5) inset,
      0 1px 1px rgba(255,255,255,.1)
