.contacts
  position: relative
  background-image: url(../images/world.png)
  background-repeat:no-repeat
  background-position: center
  background-size: cover

  &__connection
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap-reverse
    padding-top: 40px

  &__title
    margin-bottom: 30px
    display: flex
    justify-content: center
    align-items: center

  +above($breakpoints.sm)
    display: block

  &__form
    max-width: 410px
    width: 100%
    margin-bottom: 40px

.connection
  +above($breakpoints.md)
    margin-right: 20px
  +above($breakpoints.lg)
    margin-right: 0
  &__item
    position: relative
    color: $color-blue-light
    padding: 20px 20px
    margin-bottom: 20px
    box-shadow:
      0 1px rgba(255,255,255,.2) inset,
      0 3px 5px rgba(0,1,6,.5),
      0 0 1px 1px rgba(0,1,6,.2)
    -webkit-tap-highlight-color: transparent
    transition: all 0.1s
    top: 0

    &:last-child
      margin-bottom: 0

    &:active
      top: 2px
      box-shadow:
        0 0 1px rgba(0,0,0,.5) inset,
        0 2px 3px rgba(0,0,0,.5) inset,
        0 1px 1px rgba(255,255,255,.1)
