.text-description
  font-size: 17px
  line-height: 39px
  color: $color-grey
  margin-bottom: 35px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  text-align: center

  +above($breakpoints.sm)
    text-align: inherit
    font-size: 21px
    margin-bottom: 70px

  &__box-link
    display: flex
    align-self: center
    margin-top: 10px
    fill: $color-grey

  &__link
    display: flex
    font-size: 0
    fill: $color-grey

    +above($breakpoints.lg)
      &:hover
        fill: $color-blue
