.header
  display: flex
  background-color: $color-black
  justify-content: center

  +above($breakpoints.xl)
    justify-content: space-between

  &__inner
    padding: 7px 30px

    +above($breakpoints.lg)
       padding: 15px 30px

    +above($breakpoints.xl)
      padding: 20px 30px

  &__logo
    display: none

    +above($breakpoints.md)
      margin-left: 0px
      display: flex
      align-items: center

    +above($breakpoints.xl)
      margin-left: 20px
