.left-side
  display: none

  +above($breakpoints.xl)
    width: 24%
    top: 95px
    bottom: 0
    left: 30px
    margin-bottom: 10px
    position: fixed
    overflow-x: hidden
    background-color: #222222
    box-shadow: 0px 10px 40px 0px rgb(1 1 1 / 10%)
    display: inline-block
    -ms-overflow-style: none  /* IE 10+ */
    scrollbar-width: none /* Firefox */

    &::-webkit-scrollbar
      display: none

    &__bg
      padding: 30px

.profile
  &__foto
    box-shadow: 0px 1px 17px 7px rgba(9, 9, 9, 0.31) inset
    padding: 30px
    background-color: $color-dark

    +above($breakpoints.xxl)
      padding: 35px 40px 20px 40px

  &__info
    padding: 24px 0px
    text-align: center
    background-color: $color-dark-grey1

    +above($breakpoints.xxl)
      padding: 45px 0px

  &__info-name
    color: $color-white
    font-size: 18px
    line-height: 20px

    +above($breakpoints.lg)
      font-size: 20px
      line-height: 22px

    +above($breakpoints.xxl)
      font-size: 24px
      line-height: 28px

    +above($breakpoints.xxxl)
      font-size: 28px
      line-height: 32px
      margin-bottom: 10px

  &__text-blue
    color: $color-blue-light
    font-size: 15px

    +above($breakpoints.xxl)
      font-size: 17px

.social
  &__list
    display: flex
    justify-content: center
    background-color: $color-dark
    padding: 24px 0px
    box-shadow: 0px 1px 17px 7px rgba(9, 9, 9, 0.31) inset
    border-bottom: 1px solid #393939

    +above($breakpoints.xxl)
      padding: 50px 0px

  &__item
    margin-right: 20px

    &:last-child
      margin-right: 0px

  &__link
    fill: $color-grey

    +above($breakpoints.lg)

      &:hover
        fill: $color-blue

.quote
  padding: 30px 0px

  +above($breakpoints.xxl)
    padding: 40px 0px

  &__description
    font-family: "Futura"
    max-width: 394px
    color: $color-white
    font-size: 20px
    line-height: 25px
    text-align: center

  &__copyright
    padding: 20px
    color: $color-grey
    text-align: right 

.download
  padding: 0 0 40px 0
  display: flex
  justify-content: center

  &__btn
    width: 230px

.profile-foto
  border-radius: 100%
  width: 100%
  height: 100%
