.main
  &__conteiner
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    +above($breakpoints.md)
      justify-content: space-between
      align-items: center
      flex-direction: row

  &__info
    padding-top: 0px
    color: $color-white
    font-family: "Futura"
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    +above($breakpoints.md)
      padding-top: 100px
      display: block

  &__info-title
    margin-bottom: 10px
    font-size: 33px
    line-height: 32px

    +above($breakpoints.sm)
      font-size: 40px
      line-height: 42px

    +above($breakpoints.xxl)
      font-size: 55px
      line-height: 58px

  &__info-subtitle
    margin-bottom: 10px
    font-size: 27px

    +above($breakpoints.sm)
      font-size: 40px

    +above($breakpoints.xxl)
      font-size: 45px

  &__info-description
    margin-bottom: 50px
    font-size: 22px

  &__info-btn
    margin-bottom: 40px
    min-width: 130px

    +above($breakpoints.sm)
      width: 230px

  &__foto
    width: 230px
    height: 230px

    +above($breakpoints.sm)
      width: 300px
      height: 300px

    +above($breakpoints.xxl)
      width: 335px
      height: 341px
