.progress
  width: 320px

  +above($breakpoints.sm)
    width: 400px

  +above($breakpoints.md)
    width: 100%

  &__layout
    box-shadow: 0px 0px 18px 11px rgba(0, 0, 0, 0.32)
    border-radius: 20px

  &__subtitle
    font-family: "Calibrib"
    color: white
    font-size: 17px
    line-height: 25px
    text-align: center
    padding: 20px
    opacity: 0.7

  &__conteiner
    display: flex
    flex-direction: column

    +above($breakpoints.md)
      flex-direction: row

  &__item
    width: 100%
    height: 50px
    display: flex
    justify-content: center
    align-items: center

  &__item-icon
    width: 62px
    display: flex
    fill: $color-grey

    +above($breakpoints.lg)
      &:hover
        fill: $color-blue

  &__item-line
    width: 100%
    height: 4px
    background-color: RGBA(155,149,149,0.32)
    position relative

.line-filling
  background-color: $color-blue
  position: absolute
  height: 4px
  display: flex
  justify-content: flex-end
  align-items: end

  &__text
    line-height: 48px
    color: $color-white

.arrow-icon
  width: 10px
  height: 10px
  position: absolute
  right: -5px
  top: -9px
  fill: $color-grey2
  transition: all 0.3s

  &:hover
    fill: $color-red
