.sidebar
  position: fixed
  top: 0
  justify-content: center
  align-items: center
  flex-direction: column
  bottom: 0
  display: flex
  right: 0
  transition: all 1s

  &__layout
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: RGBA(47,47,47,0.72)
    border-radius: 5px
    max-height: 100%

    vendord = official
    @keyframes anim {
      0%{
        box-shadow: 0px 0px 4px 0px rgba(76, 172, 246, 0.10)
      }
      50%{
        box-shadow: 0px 0px 4px 0px rgba(76, 172, 246, 0.50)
      }
      100%{
        box-shadow: 0px 0px 4px 0px rgba(76, 172, 246, 0.10)
      }
    }

  &__inner
    border-width: 20px 0px
    display: flex

  &__border-active
    width: 22px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    -webkit-tap-highlight-color: transparent

  &__list
    color: $color-white
    letter-spacing: 0.1em
    font-family: "Montserrat"
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    padding: 20px 20px 20px 10px

  &__item
    border-radius: 21px
    margin-bottom: 35px
    box-shadow: 0px 0px 8px 0px rgba(238, 247, 247, 0.2)
    border-bottom: 1px solid $color-blue

    &:last-child
      margin-bottom: 0px

  &__link
    position: relative
    display: flex
    border-radius: 21px
    padding: 5px
    transition: all 0.7s
    top: 0
    fill: $color-grey

    &:active
      top: 2px

  &__border-arrow .arrow
    display: block
    width: 12px
    height: 10px
    border-bottom: 2px solid $color-blue
    border-left: 2px solid $color-blue-light
    border-top-left-radius: 2px 
    border-bottom-right-radius: 2px
    transform: rotate(238deg) skewX(25deg) skewY(1deg)
    margin: -3.6px
    float: left

  &__border-arrow .arrow:nth-child(1)
    animation-delay: -0.4s

  &__border-arrow .arrow:nth-child(2)
    animation-delay: -0.6s

  &__border-arrow .arrow:nth-child(3)
    animation-delay: -0.8s

vendord = official
  @keyframes arrow-box {
    0%{
      opacity: 1
      transform: rotate(57deg) skewX(25deg) skewY(1deg) translate(-0px,-0px)
    }
    50%{
      opacity: 0.8
    }
    100%{
      opacity: 0.1
      transform: rotate(57deg) skewX(25deg) skewY(1deg) translate(0px,0px)
    }
  }
