.skills
  &__progress
    display: flex
    justify-content: center
    align-items: center

  &__title
    margin-bottom: 30px
    display: flex
    justify-content: center
    align-items: center

    +above($breakpoints.sm)
      display: block
