.slider
  &__inner
    display: flex
    justify-content: center
    align-items: center

  &__layout
    border: 10px solid $color-dark-grey1
    position: relative
    width: 100%
    border-radius: 10px
    box-shadow: 0px 0px 18px 11px rgba(0, 0, 0, 0.45)

    +above($breakpoints.sm)
      border-right: 15px solid $color-dark-grey1
      border-top: 15px solid $color-dark-grey1
      border-left: 15px solid $color-dark-grey1
      border-bottom: 0px

  &__box
    width: 100%

  &__controll
    display: flex
    background-color: $color-dark-grey1
    height: 70px
    margin-top: -4px
    justify-content: space-between
    align-items: center

  &__dots
    position: relative

  &__arrow-left,
  &__arrow-right
    height: 40px
    width: 40px
    position relative
    display: flex
    align-items: center
    justify-content: center
    color: $color-white
    border-radius: 5px
    box-shadow:
      0 1px rgba(255,255,255,.2) inset,
      0 3px 5px rgba(0,1,6,.5),
      0 0 1px 1px rgba(0,1,6,.2)
    z-index: 2
    transition: all 0.2s

    +above($breakpoints.sm)
      height: 50px
      width: 50px

    &:active
      top: 2px
      box-shadow:
        0 0 2px rgba(0,0,0,.5) inset,
        0 0 7px rgba(0,0,0,.5) inset,
        0 1px 1px rgba(255,255,255,.1)

.slick-dots
  position: absolute
  bottom: calc(50% - 20px)
  right: 0
  left: 0

.slider__dots .slick-dots
  display: flex
  justify-content: center
  align-items: center

.slider__dots .slick-dots button
  font-size: 15px
  color: $color-blue
  cursor: default
  width: 25px
  height: 25px
  margin: 0px 5px
  border-radius: 5px
  box-shadow:
    0 1px rgba(255,255,255,.2) inset,
    0 3px 5px rgba(0,1,6,.5),
    0 0 1px 1px rgba(0,1,6,.2)
  z-index: 2
  transition: all 0.2s

  +above($breakpoints.sm)
    font-size: 24px
    width: 30px
    height: 30px
    margin: 0px 10px

  +above($breakpoints.md)
    width: 40px
    height: 40px

  &:active
    top: 2px
    box-shadow:
      0 0 1px rgba(0,0,0,.5) inset,
      0 2px 3px rgba(0,0,0,.5) inset,
      0 1px 1px rgba(255,255,255,.1)

  &:hover
    border: 1px solid $color-blue

.slick-dots li.slick-active button
  transform: translateY(-6px)
  border: 1px solid $color-blue

.slick-slide img
  width: 100%
