$base-font-family = "Arial"

$breakpoints = {
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1300px
  xxxl: 1426px
}

$color-primary = #74ee15
$color-error = #d94c4c
$color-red-white = #ba9393
$color-red = #fd0000
$color-success = #35b24a
$color-warning = #ffa526
$color-dark-grey1 = #2f2f2f
$color-dark-grey2 = #2c2c2c
$color-dark = #222222
$color-white = #ffffff
$color-blue = #009bcd
$color-blue2 = #009ACD50
$color-blue-light = #5DD0F6
$color-grey = #9B9595
$color-grey2 = #757575
$color-black = #0f0f0f
